<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import { Inertia } from '@inertiajs/inertia';
import { reactive, ref } from '@vue/reactivity';
import { onMounted } from '@vue/runtime-core';
import axios from 'axios';

const props = defineProps({
  sexes: Object,
  blood_types: Object,
  religions: Object,
  nationalities: Array
});

const form = reactive({
    nik:'',
    full_name:'',
    place_of_born:'',
    date_of_born:'',
    sex:'',
    blood_type:'',
    religion:'',
    marital_status:'',
    profession:'',
    nationality:'',
    address:'',
    rt:'',
    rw:'',
    province:'',
    kabukot: '',
    kec:'',
    kel:'',
});

const data_propinsi = ref([]);
const data_kabukot = ref([]);
const data_kecamatan = ref([]);
const data_kelurahan = ref([]);

const submit = () => {
    Inertia.post('');
};

onMounted(() => {
    getDatapropinsi();
})

const getDatapropinsi = () => {
    axios
        .get(`/learn/propinsi`)
        .then((res) => {
          data_propinsi.value = res.data.data;
        });
};

const getDatakabukot = () => {
    axios
        .get(`/learn/kabukot/` + form.province)
        .then((res) => {
            //console.log(res.data.data);
             data_kabukot.value = res.data.data;
        });
};

const getDatakecamatan = () => {
    axios
        .get(`/learn/kecamatan/` + form.kabukot)
        .then((res) => {
            // console.log(res.data.data);
            data_kecamatan.value = res.data.data;
        });
};

const getDatakelurahan = () => {
    axios
        .get(`/learn/kelurahan/` + form.kec)
        .then((res) => {
            //console.log(res.data.data);
            data_kelurahan.value = res.data.data;
        });
};


</script>

<template>
    <AppLayout title="Dashboard">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Kartu Tanda Penduduk
            </h2>
        </template>

        <div class="py-6">
            <div class="max-w-7xl mx-auto sm:px-6 px-2">
                <div class=" bg-white overflow-hidden shadow-sm sm:rounded-lg p-5">
                    <div class="hidden bg-slate-500 sm:bg-red-500 md:bg-blue-500 lg:bg-yellow-500 xl:bg-purple-500"> test </div>
                    <!-- {{ form }}
                    <hr>
                    {{form.province}}
                    <hr> -->
                    <!-- <button @click="getDatakabukot">testtt</button> -->
                    <div class="md:flex md:gap-x-5">
                        <div class="md:basis-1/2">
                            <div class="form-control w-full mb-2">
                                <label class="label">
                                    <span class="label-text">Nomor Induk Kependudukan (NIK)</span>
                                </label>
                                <input v-model="form.nik" type="text" class="input input-bordered input-md w-full" />
                            </div>

                            <div class="form-control w-full mb-2">
                                <label class="label">
                                    <span class="label-text">Nama Lengkap</span>
                                </label>
                                <input v-model="form.full_name" type="text" class="input input-bordered input-md w-full" />
                            </div>
                            <div class="flex gap-x-5">
                                <div class="flex basis-1/2">
                                    <div class="form-control w-full mb-2">
                                        <label class="label">
                                            <span class="label-text">Tempat Lahir</span>
                                        </label>
                                        <input v-model="form.place_of_born" type="text" class="input input-bordered input-md w-full" />
                                    </div>
                                </div>
                                <div class="flex basis-1/2">
                                    <div class="form-control w-full mb-2">
                                        <label class="label">
                                            <span class="label-text">Tanggal Lahir</span>
                                        </label>
                                        <input v-model="form.date_of_born" type="date" class="input input-bordered input-md w-full" />
                                    </div>
                                </div>
                            </div>
                            <div class="flex gap-x-5">
                                <div class="flex basis-1/2">
                                    <div class="form-control w-full">
                                        <label class="label">
                                            <span class="label-text">Jenis Kelamin</span>
                                        </label>
                                        <select v-model="form.sex" class="select select-bordered select-md">
                                            <option disabled selected>Pilih</option>
                                            <template v-for="sex in sexes" :key="sex.id">
                                                <option :value="sex.id" >{{ sex.name }}</option>
                                            </template>
                                        </select>
                                    </div>
                                </div>
                                <div class="flex basis-1/2">
                                    <div class="form-control w-full">
                                        <label class="label">
                                            <span class="label-text">Golongan Darah</span>
                                        </label>
                                        <select v-model="form.blood_type" class="select select-bordered select-md">
                                            <option disabled selected>Pilih</option>

                                            <template v-for="blood_type in blood_types" :key="blood_type.id">
                                                <option :value="blood_type.id" >{{ blood_type.name }}</option>
                                            </template>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="flex gap-x-5">
                                <div class="flex basis-1/2">
                                    <div class="form-control w-full">
                                        <label class="label">
                                            <span class="label-text">Agama</span>
                                        </label>
                                        <select v-model="form.religion" class="select select-bordered select-md">
                                            <option disabled selected>Pilih</option>
                                            <template v-for="religion in religions" :key="religion.id">
                                                <option :value="religion.id" >{{ religion.name }}</option>
                                            </template>
                                        </select>
                                    </div>
                                </div>
                                <div class="flex basis-1/2">
                                    <div class="form-control w-full">
                                        <label class="label">
                                            <span class="label-text">Status Perkawinan</span>
                                        </label>
                                        <select v-model="form.marital_status" class="select select-bordered select-md">
                                            <option disabled selected>Pilih</option>
                                            <option value="1">Menikah</option>
                                            <option value="2">Belum Menikah</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="md:basis-1/2">
                            <div class="flex gap-x-5">
                                <div class="flex basis-1/2">
                                    <div class="form-control w-full mb-2">
                                        <label class="label">
                                            <span class="label-text">Pekerjaan</span>
                                        </label>
                                        <input v-model="form.profession" type="text" class="input input-bordered input-md w-full" />
                                    </div>
                                </div>
                                <div class="flex basis-1/2">
                                    <div class="form-control w-full">
                                        <label class="label">
                                            <span class="label-text">Kewarganegaraan</span>
                                        </label>
                                        <select v-model="form.nationality" class="select select-bordered select-md">
                                            <option disabled selected>Pilih</option>
                                            <template v-for="nationality in nationalities" :key="nationality.id">
                                                <option :value="nationality.id" >{{ nationality.name }}</option>
                                            </template>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-control w-full mb-2">
                                <label class="label">
                                    <span class="label-text">Alamat Lengkap</span>
                                </label>
                                <textarea v-model="form.address" class="textarea textarea-bordered w-full" placeholder="Bio"></textarea>
                            </div>
                            <div class="flex gap-x-5">
                                <div class="flex basis-1/2">
                                    <div class="form-control w-full mb-2">
                                        <label class="label">
                                            <span class="label-text">RT</span>
                                        </label>
                                        <input v-model="form.rt" type="text" class="input input-bordered input-md w-full" />
                                    </div>
                                </div>
                                <div class="flex basis-1/2">
                                    <div class="form-control w-full mb-2">
                                        <label class="label">
                                            <span class="label-text">RW</span>
                                        </label>
                                        <input v-model="form.rw" type="text" class="input input-bordered input-md w-full" />
                                    </div>
                                </div>
                            </div>
                            <div class="flex gap-x-5">
                                <div class="flex basis-1/2">
                                    <div class="form-control w-full">
                                        <label class="label">
                                            <span class="label-text">Propinsi</span>
                                        </label>
                                        <select v-model="form.province" @change="getDatakabukot"  class="select select-bordered select-md">
                                            <option disabled selected>Pilih</option>
                                            <template v-for="propinsi in data_propinsi" :key="propinsi.id">
                                                <option :value="propinsi.id_prop" >{{ propinsi.name }}</option>
                                            </template>
                                        </select>
                                    </div>
                                </div>
                                <div class="flex basis-1/2">
                                    <div class="form-control w-full">
                                        <label class="label">
                                            <span class="label-text">Kabupaten/Kota</span>
                                        </label>
                                        <select v-model="form.kabukot" :disabled="data_kabukot.length == 0" @change="getDatakecamatan" class="select select-bordered select-md">
                                            <option disabled selected>Pilih</option>
                                            <template v-for="kabukot in data_kabukot" :key="kabukot.id">
                                                <option :value="kabukot.id_kabkota" >{{ kabukot.name }}</option>
                                            </template>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="flex gap-x-5">
                                <div class="flex basis-1/2">
                                    <div class="form-control w-full">
                                        <label class="label">
                                            <span class="label-text">Kecamatan</span>
                                        </label>
                                        <select v-model="form.kec" :disabled="data_kecamatan.length == 0" @change="getDatakelurahan" class="select select-bordered select-md">
                                            <option disabled selected>Pilih</option>
                                            <template v-for="kecamatan in data_kecamatan" :key="kecamatan.id">
                                                <option :value="kecamatan.id_kec" >{{ kecamatan.name }}</option>
                                            </template>
                                        </select>
                                    </div>
                                </div>
                                <div class="flex basis-1/2">
                                    <div class="form-control w-full">
                                        <label class="label">
                                            <span class="label-text">Kelurahan</span>
                                        </label>
                                        <select v-model="form.kel" :disabled="data_kelurahan.length == 0" class="select select-bordered select-md">
                                            <option disabled selected>Pilih</option>
                                            <template v-for="kelurahan in data_kelurahan" :key="kelurahan.id">
                                                <option :value="kelurahan.id_kel" >{{ kelurahan.name }}</option>
                                            </template>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </AppLayout>
</template>
<style scoped>
table.test td {
    padding: 5px;
}
</style>
