<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';

defineProps ({
    name: String,
    framework: Array
});

</script>

<template>
    <AppLayout title="Dashboard">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Kartu Tanda Penduduk
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 px-5">
                <div class=" bg-white overflow-hidden shadow-sm sm:rounded-lg p-5">
                    KTP
                </div>
            </div>
        </div>
    </AppLayout>
</template>
